@import "../../index.scss";

.container {
    background-color: getColor(secondary);
    position: fixed;
    width: 100%;
    border-bottom: 1px solid getColor(primary-dark);

    .navigation {
        margin: auto;
        width: 1200px;
        max-width: 100%;
        padding: 15px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .buttons {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }
}
